# generated activate
/activate.sh
# generated bin
/bin
# build folder
/_build
# dist folder
/_dist
# debug folder
/_debug
# tmp folder
/tmp

# emacs editor cruft
*~
\#*\#
.\#*

# sublime editor cruft
*.sublime-*

# vim editor cruft
.*.sw[op]
